/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navigation Container */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Top Bar */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.topBar {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0px 16px;
    position: relative;
    pointer-events: all;
    background-color: var(--main-background-color);
    box-shadow: var(--box-shadow);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Logo */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 24px 0px 0px;
}
.logo > a {
    width: 100%;
    height: 100%;
    padding: 16px 0px;
}
.logo > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Menu */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.menu {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
    list-style: none;
}
@media screen and (max-width: 680px) {
    .menu {
        display: none;
    }
}
.menu > li {
    height: 100%;
    background: var(--horizontal-gradient-color);
}
.menu > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 2px);
    position: relative;
    background-color: var(--main-background-color);
}
.menu > li > a::before {
    width: 100%;
    height: calc(100% + 2px);
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--main-background-color);
    transition: opacity 0.3s ease;
}
.menu > li > a:hover::before,
.menu > li > a[class="active"]::before {
    opacity: 0;
}
.menu > li > a > p {
    z-index: 1;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Search Bar */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.searchBarContainer {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px auto;
    position: relative;
}
@media screen and (max-width: 980px) {
    .searchBarContainer {
        display: none;
    }
}
.searchBarContainer > input {
    min-width: 300px;
    height: 30px;
    padding: 0px 46px 0px 16px;
    border-radius: 30px;
    background-color: var(--sub-background-color);
    box-shadow: var(--box-shadow);
}
.searchBarContainer > input::placeholder {
    color: var(--placeholder-color);
}
.searchBarContainer > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    border-radius: 30px;
    background-color: var(--main-background-color);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* User Actions Background */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.userActionsBackground {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -32px;
    transform: skewX(-30deg);
    background: var(--horizontal-gradient-color);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* User Actions Container */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.userActionsContainer {
    display: flex;
    align-items: center;
    width: 270px;
    height: 100%;
    margin: 0px 0px 0px 16px;
    padding: 0px 0px 0px 32px;
}
@media screen and (max-width: 980px) {
    .userActionsContainer {
        margin: 0px 0px 0px auto;
    }
}
.userActionsContainer > button[data-button="callToActionWithIcon"] {
    margin: 0px 0px 0px 8px;
}