/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Fonts */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Reset */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Comfortaa;
    color: var(--main-text-color);
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border: none;
    background: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Themes */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
[data-theme="light"] {
    --main-color: #63B4FF;
    --sub-color: #78FF62;
    --diagonal-gradient-color: linear-gradient(135deg, var(--main-color), var(--sub-color));
    --horizontal-gradient-color: linear-gradient(90deg, var(--main-color), var(--sub-color));
    --vertical-gradient-color: linear-gradient(180deg, var(--main-color), var(--sub-color));
    --error-color: #FF1400;
    --main-text-color: ##2D2D2D;
    --main-background-color: #FFFFFF;
    --sub-background-color: #EDEDED;
    --placeholder-color: #A0A0A0;
    --border: 2px solid var(--placeholder-color);
    --box-shadow: 0px 5px 20px #00000030;
    --darker-box-shadow: 0px 5px 20px #00000050;
}
[data-theme="dark"] {
    --main-color: #F363FF;
    --sub-color: #FFEE57;
    --diagonal-gradient-color: linear-gradient(135deg, var(--main-color), var(--sub-color));
    --horizontal-gradient-color: linear-gradient(90deg, var(--main-color), var(--sub-color));
    --vertical-gradient-color: linear-gradient(180deg, var(--main-color), var(--sub-color));
    --error-color: #FF1400;
    --main-text-color: #FFFFFF;
    --main-background-color: #2D2D2D;
    --sub-background-color: #3D3D3D;
    --placeholder-color: #A0A0A0;
    --border: 2px solid var(--placeholder-color);
    --box-shadow: 0px 5px 20px #00000030;
    --darker-box-shadow: 0px 5px 20px #00000050;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Defaults */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--sub-background-color);
}
body > #__next {
    width: 100%;
    height: 100%;
}
a, button, input[type="submit"] {
    cursor: pointer;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
i {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: var(--diagonal-gradient-color);
    background-clip: text;
    transition: color 0.3s ease;
}
a:hover i,
button:hover i {
    color: transparent;
}
button[data-button="callToAction"],
button[data-button="callToActionWithIcon"] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 0px 0px 0px auto;
    position: relative;
    border-radius: 100px;
    background: var(--horizontal-gradient-color);
    box-shadow: var(--darker-box-shadow);
    z-index: 1;
}
button[data-button="callToActionWithIcon"] {
    width: 30px;
    padding: 0px;
}
button[data-button="callToAction"] > span {
    padding: 8px 16px;
}
button[data-button="callToAction"] > span,
button[data-button="callToActionWithIcon"] > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: relative;
    border-radius: 100px;
    background-color: var(--main-background-color);
}
button[data-button="callToAction"] > span::before,
button[data-button="callToActionWithIcon"] > span::before {
    content: "";
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    position: absolute;
    border-radius: 100px;
    background-color: var(--main-background-color);
    transition: opacity 0.3s ease;
    z-index: -1;
}
button[data-button="callToAction"]:hover > span::before,
button[data-button="callToActionWithIcon"]:hover > span::before {
    opacity: 0;
}
input,
select {
    height: 30px;
    padding: 0px 8px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* App */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
#root {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#root > #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-size: cover;
}
#root > #app > .boxedContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 1100px;
    max-width: 1100px;
    min-height: calc(100vh - 60px);
    margin: 60px 0px 0px 0px;
    padding: 16px;
    background-color: var(--main-background-color);
    transition: min-width 0.3s ease;
}
@media screen and (max-width: 1400px) {
    #root > #app > .boxedContent {
        min-width: 900px;
        max-width: 900px;
    }
}
@media screen and (max-width: 1200px) {
    #root > #app > .boxedContent {
        min-width: 700px;
        max-width: 700px;
    }
}
@media screen and (max-width: 1000px) {
    #root > #app > .boxedContent {
        min-width: 100%;
        max-width: 100%;
    }
}
#root > #app > .fullWidthContent {
    width: 100%;
    transition: min-width 0.3s ease;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Main Headers */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
#root > #app > .boxedContent > .header {
    width: 100%;
    height: 40px;
    background: var(--horizontal-gradient-color);
}
#root > #app > .boxedContent > .header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 2px);
    background-color: var(--main-background-color);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Forms Fields */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.fieldContainer {
    display: flex;
    flex-direction: column;
    padding: 2px;
    position: relative;
    border-radius: 5px;
    background: var(--placeholder-color);
    transition: background 0.3s ease;
}
.fieldContainer.submitField {
    position: relative;
    background: var(--horizontal-gradient-color);
    z-index: 1;
}
.fieldContainer.submitField::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background: var(--horizontal-gradient-color);
    transition: filter 0.3s ease;
    z-index: -1;
}
.fieldContainer.submitField:hover::before {
    filter: blur(10px);
}
.fieldContainer:focus-within {
    background: var(--horizontal-gradient-color);
}
.fieldContainer.filled {
    background: var(--horizontal-gradient-color);
}
.fieldContainer.error {
    background: var(--error-color);
}
.fieldContainer > .field {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: calc(5px - 1px);
    background-color: var(--main-background-color);
}
.fieldContainer.submitField > .field {
    background: transparent;
}
.fieldContainer > .field > .labelContainer {
    position: absolute;
    padding: 2px 8px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    background-color: var(--main-background-color);
    transition: top 0.3s ease;
}
.fieldContainer > .field > .labelContainer > label {
    color: var(--placeholder-color);
    background: var(--horizontal-gradient-color);
    background-clip: text;
    transition: font-size 0.3s ease, color 0.3s ease;
}
.fieldContainer > .field > textarea.filled + .labelContainer,
.fieldContainer > .field > textarea:focus + .labelContainer,
.fieldContainer > .field > input.filled + .labelContainer,
.fieldContainer > .field > input:focus + .labelContainer {
    top: 0;
}
.fieldContainer > .field > textarea.filled + .labelContainer > label,
.fieldContainer > .field > textarea:focus + .labelContainer > label,
.fieldContainer > .field > input.filled + .labelContainer > label,
.fieldContainer > .field > input:focus + .labelContainer > label {
    font-size: 12px;
    color: transparent;
    font-weight: bold;
}
.fieldContainer > .field > textarea.error + .labelContainer > label,
.fieldContainer > .field > input.error + .labelContainer > label {
    font-size: 12px;
    color: var(--error-color);
    font-weight: bold;
}
.fieldContainer > .field > textarea {
    min-height: 150px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Field Error Container */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.errorMessageContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px 0px 16px 0px;
}
.errorMessageContainer > i,
.errorMessageContainer > p {
    color: var(--error-color);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Co Founders */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.coFounders {
    display: flex;
    justify-content: center;
    align-items: center;
}