/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navigation Container */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Top Bar */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.topBar {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0px 16px;
    pointer-events: all;
    box-shadow: var(--box-shadow);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Logo */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 16px 0px 0px;
}
.logo > a {
    width: 100%;
    height: 100%;
    padding: 16px 0px;
}
.logo > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Menu */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.menu {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
    list-style: none;
}