/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navigation Container */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    background-color: var(--main-background-color);
    z-index: 1000;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Top Bar */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.topBar {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0px 16px;
    pointer-events: all;
    box-shadow: var(--box-shadow);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Logo */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 16px 0px 0px;
}
.logo > a {
    width: 100%;
    height: 100%;
    padding: 16px 0px;
}
.logo > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Menu */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.menu {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
    list-style: none;
}
.menu > li {
    height: 100%;
    background: var(--horizontal-gradient-color);
}
.menu > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 2px);
    position: relative;
    background-color: var(--main-background-color);
}
.menu > li > a::before {
    width: 100%;
    height: calc(100% + 2px);
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--main-background-color);
    transition: opacity 0.3s ease;
}
.menu > li > a:hover::before,
.menu > li > a[class="active"]::before {
    opacity: 0;
}
.menu > li > a > p {
    z-index: 1;
}