/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Quick Settings Menu Container */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: fixed;
    right: 0px;
    top: 60px;
    right: -260px;
    background-color: var(--main-background-color);
    box-shadow: var(--box-shadow);
    transition: right 0.3s ease;
}
.container > select {
    height: 30px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Toggling Class */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.show {
    right: 0px;
}