/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Login Container */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--sub-background-color);
    box-shadow: var(--box-shadow);
}